{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
  <body>
    <header>
      <h1>Utsav Bakery</h1>
    </header>
    <main>
      <h2>Welcome to My Bakery</h2>
      <p>We are a small bakery located in the heart of downtown, specializing in fresh-baked breads and pastries.</p>
      <h3>Our History</h3>
      <p>Our bakery was founded by a group of friends with a passion for baking. We started out as a small storefront selling our baked goods to the local community, and have since grown into a thriving business with a loyal following.</p>
      <h3>Visit Us</h3>
      <p>We would love to have you visit our bakery and try our delicious treats! We are located at 123 Main Street, and are open every day from 7am to 7pm.</p>
    </main>

  </body>
  {% endblock %}